.done {
	background: rgba(0, 0, 0, 0.75);
    transition: 1s linear;
    transform: scale(1);
}
.user-list {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    list-style: none;
    margin: 5px auto;
    align-items: center;
    padding: 5px 5px 5px 5px;
    width: 40vw;
}
