img{
    width: 150px;
}
.Comment {
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;
}
.Comment-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: black;
    font-size: 12px;
    margin-top: 10px;
}

.Comment-date {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: black;
    font-size: 13px;
}