

form{
    text-align: center;
}
form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form div label{
    font-size: 25px;
    font-weight: bold;
    color: cornflowerblue;
    padding: 1rem;
    cursor: pointer;
}
form div input{
    background: salmon;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 12px salmon;
    color: rgb(12, 84, 87);
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form div input:focus{
    outline: 2px solid slateblue;
    background: #fad0ec;
    border-color: #8b005d;
}
form button{
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: #f7f1f5;
    background-color: #8b005d;
    font-weight: bolder;
    text-shadow: 10px 2px 12px rebeccapurple;
    cursor: pointer;
}
form button:hover,
form button:active {
  background: #ac0e77;
  border-color: #ac0e77;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.26);
}
div.valid input{
    border-color: red;
    background: darkturquoise;
}
div.valid label{
    color: red;
}
div.valid input{
    animation: blink 1s infinite; /* Параметры анимации */
   }
   @keyframes   blink {
    from { opacity: 1; /* Непрозрачный текст */ }
    to { opacity: 0; /* Прозрачный текст */ }
   }
