.li{
    margin: 3px auto;
    padding: 3px 3px 3px 3px;
    border-radius: 10px;
    width: 470px;
    display: flex;
    justify-content: space-between;
    color: white;
    cursor: pointer;
    list-style: none;
}
