.blog{
    width: 100vw;
    height: 100vh;
}

.marquee-blog {
	position: fixed;
	width: 100vw;
    height: 100vh;
	font-size: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    font-family: cursive;
    color: rgb(76, 69, 78);
	z-index: 1;
}


