.blog{
    width: 100vw;
    height: 100vh;
}

.marquee-blog {
	position: absolute;
	width: 100vw;
    height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    font-family: cursive;
    color: rgb(172, 188, 189);
}

.wrapper-blog {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100vh;
}
